# Домашня робота № 6

1. Визначаємо адресу, за якою знаходиться проєкт, щоб вставити в нього csv файл, завантажений для роботи

In [3]:
%pwd

'C:\\Users\\Eugen\\PycharmProjects\\pythonProject1'

2. Завнтажуємо csv файл в pandas

In [74]:
import pandas as pd
import numpy as np

In [117]:
# Завантаження файла movies.csv в pandas

df = pd.read_csv('movies.csv')
df.head(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010

3. а.  Відображаємо список стовпців

In [76]:
# Перелічення стовпців в наборі 

from numpy import ndarray
df.columns.array

<PandasArray>
[             'Film',             'Genre',       'Lead Studio',
  'Audience score %',     'Profitability', 'Rotten Tomatoes %',
   'Worldwide Gross',              'Year']
Length: 8, dtype: object

3. б. Визначаємо кількість стовпців

In [5]:
# Визначення кількості стовпців

len(df.columns.array)

8

3. в. Визначаємо типи даних по полям Data Frame

In [6]:
# Визначення типу даних по полях (у стовпцях) 
df.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

3. г. Визначаємо загальну статистику по полях

In [118]:
# Загальна статистична інформація про масив даних, включно з усіма можливими типами даних

df.describe(include = 'all')

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
count,77,77,77,77.000000,77.000000,77.000000,77,77.000000
unique,75,10,13,NaN,NaN,NaN,73,NaN
top,Mamma Mia!,Comedy,Independent,NaN,NaN,NaN,$55.86,NaN
freq,2,41,19,NaN,NaN,NaN,2,NaN
mean,NaN,NaN,NaN,63.727273,4.599483,46.701299,NaN,2009.077922
std,NaN,NaN,NaN,13.657113,8.031990,26.095001,NaN,1.354974
min,NaN,NaN,NaN,35.000000,0.000000,3.000000,NaN,2007.000000
25%,NaN,NaN,NaN,52.000000,1.751351,26.000000,NaN,2008.000000
50%,NaN,NaN,NaN,64.000000,2.642353,45.000000,NaN,2009.000000
75%,NaN,NaN,NaN,76.000000,5.103117,64.000000,NaN,2010.000000
max,NaN,NaN,NaN,89.000000,66.934000,96.000000,NaN,2011.000000

In [119]:
# Загальна статистична інформація про масив даних (тільки числові)

df.describe()

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

3. д. Визначаємо загальну інформацію про масив даних в Data Frame

In [9]:
# Загальна інформація про масив даних
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

4. Визначаємо кількість фільмів відповідно до жанрів

In [120]:
# Визначення кількості фільмів за жанрами в наборі даних

df['Genre'].value_counts()

Comedy       41
Romance      13
Drama        13
Animation     4
Fantasy       1
Romence       1
Comdy         1
Action        1
romance       1
comedy        1
Name: Genre, dtype: int64

In [154]:
# Визначення загальної кількості фільмів 

len(df['Film'])

77

5. Визначамо кількість фільмів відповідно до року випуску

In [155]:
# Визначення кількості фільмів по рокам
df['Year'].value_counts()

2008    20
2010    20
2011    14
2009    12
2007    11
Name: Year, dtype: int64

6. Виведення повної інформації відповідно найменьш та найбільш прибуткової стрічки

In [13]:
df['Profitability'].max()

66.934

In [14]:
df['Profitability'].min()

0.0

In [15]:
df['Profitability'].mean()

4.5994833979610386

In [121]:
# Виведення інформації про найбільш прибутковий фільм

df[df['Worldwide Gross']==df['Worldwide Gross'].max()]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
50,Life as We Know It,Comedy,Independent,62,2.530526,28,$96.16,2010

In [122]:
# Виведення інформації про найменш прибутковий фільм

df[df['Worldwide Gross']==df['Worldwide Gross'].min()]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
8,Waiting For Forever,Romance,Independent,53,0.005,6,$0.03,2011

7. Форматування та нормалізація даних в полі Genre

In [123]:
df1 = df['Genre'].str.title()
df1 = df1.str.replace('Comdy','Comedy')
df1 = df1.str.replace('Romence','Romance')
df1

0     Romance
1      Comedy
2      Comedy
3      Comedy
4      Comedy
       ...
72    Romance
73      Drama
74      Drama
75     Comedy
76     Comedy
Name: Genre, Length: 77, dtype: object

In [124]:
df1.value_counts()

Comedy       43
Romance      15
Drama        13
Animation     4
Fantasy       1
Action        1
Name: Genre, dtype: int64

In [125]:
df2 = df1.rename('Genre_f')
df2

0     Romance
1      Comedy
2      Comedy
3      Comedy
4      Comedy
       ...
72    Romance
73      Drama
74      Drama
75     Comedy
76     Comedy
Name: Genre_f, Length: 77, dtype: object

7. 1. Заміна існуючого поля Genre на новий (відформатований)

In [126]:
df3=pd.concat([df,df2], axis='columns')
df3

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year,Genre_f
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008,Romance
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010,Comedy
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010,Comedy
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010,Comedy
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008,Comedy
...,...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007,Romance
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009,Drama
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011,Drama
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008,Comedy
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009,Comedy

In [127]:
# Перегляд списку наявних полів в таблиці

from numpy import ndarray
df3.columns.array

<PandasArray>
[             'Film',             'Genre',       'Lead Studio',
  'Audience score %',     'Profitability', 'Rotten Tomatoes %',
   'Worldwide Gross',              'Year',           'Genre_f']
Length: 9, dtype: object

In [128]:
# Видалення початкового неформатваного поля Genre

df4=df3.drop(columns='Genre')
df4

,Film,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year,Genre_f
0,Zack and Miri Make a Porno,The Weinstein Company,70,1.747542,64,$41.94,2008,Romance
1,Youth in Revolt,The Weinstein Company,52,1.090000,68,$19.62,2010,Comedy
2,You Will Meet a Tall Dark Stranger,Independent,35,1.211818,43,$26.66,2010,Comedy
3,When in Rome,Disney,44,0.000000,15,$43.04,2010,Comedy
4,What Happens in Vegas,Fox,72,6.267647,28,$219.37,2008,Comedy
...,...,...,...,...,...,...,...,...
72,Across the Universe,Independent,84,0.652603,54,$29.37,2007,Romance
73,A Serious Man,Universal,64,4.382857,89,$30.68,2009,Drama
74,A Dangerous Method,Independent,89,0.448645,79,$8.97,2011,Drama
75,27 Dresses,Fox,71,5.343622,40,$160.31,2008,Comedy
76,(500) Days of Summer,Fox,81,8.096000,87,$60.72,2009,Comedy

In [131]:
# Упорядкування полів, відповідно до початкової таблиці, але з новим відформатованим полем Genre_f

new_df = df4.reindex(columns=['Film', 'Genre_f', 'Lead Studio', 'Audience score %', 'Profitability', 'Rotten Tomatoes %', 'Worldwide Gross', 'Year'])
new_df

,Film,Genre_f,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,Romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,Comedy,Fox,81,8.096000,87,$60.72,2009

8. Формування нової таблиці за умовами:
    - 10 найкращих комедій за кількістю глядачів;
    - відобразити тільки назву стрічки, рік та студію.

In [146]:
new_df = new_df[new_df['Genre_f']=='Comedy']
new_df = new_df.sort_values(by = ['Audience score %'],ascending=False)
new_df= new_df[:10]
new_df = new_df.loc[:,['Film','Year','Lead Studio']]
new_df

                                  Film  Year   Lead Studio
54                          Knocked Up  2007     Universal
76                (500) Days of Summer  2009           Fox
27                    Sex and the City  2008  Warner Bros.
69                           Enchanted  2007        Disney
71                           Beginners  2011   Independent
44                       Marley and Me  2008           Fox
60  High School Musical 3: Senior Year  2008        Disney
46                          Mamma Mia!  2008     Universal
45                          Mamma Mia!  2008     Universal
30                            Penelope  2008        Summit

8. 1. Збереження створеної таблиці у окремий файл new_movies.csv

In [148]:
new_df.to_csv('new_movies.csv', index=False)

9. Використання pip для встановлення двох бібліотек: lxml, MySQL-connector-python.

In [150]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\eugen\miniconda3\envs\pythonproject1\lib\site-packages (8.0.29)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: protobuf>=3.0.0 in c:\users\eugen\miniconda3\envs\pythonproject1\lib\site-packages (from mysql-connector-python) (4.21.2)

In [151]:
pip install lxml

Collecting lxmlNote: you may need to restart the kernel to use updated packages.

  Downloading lxml-4.9.1-cp39-cp39-win_amd64.whl (3.6 MB)
Installing collected packages: lxml
Successfully installed lxml-4.9.1